
body {
	width: 90%;
	margin: 0 auto;
	position: relative;
  	background: #2c3034;
}

img {
	width: 100%;
	margin: 0 auto;
}

h1 {
	color: white;
  	font-family: helvetica, sans-serif;
  	font-weight: normal;
}

h3 {
	color: white;
  	font-family: helvetica, sans-serif;
   	font-weight: lighter;
}
