
body {
	width: 90%;
	margin: 0 auto;
	position: relative;
  	background: #2c3034;
}

img {
	width: 40%;
  	padding: 0 30%;
	margin: 0 auto;
}

h1 {
  	margin-top: 3%;
  	text-align: center;
	color: white;
  	font-family: helvetica, sans-serif;
  	font-weight: bold;
  	font-size: 25px;
}

h3 {
  	text-align: center;
	color: white;
  	font-family: helvetica, sans-serif;
   	font-weight: lighter;
  	font-size: 14px;
}

h5 {
	text-align: center;
  	color: #4EF253;
  	font-family: helvetica, sans-serif;
  	font-weight: bold;
  	font-size: 20px;
}








